body {
    font-family: Nunito, sans-serif; /* Substitua 'Roboto' pela fonte escolhida */
}

.shadow{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
}

.w-lg-auto {
    width:auto;
}

.logo-ipea {
    width: 120px;
}

#mapdiv {
    width: 100%;
    height: 297px;
}

#treemapdiv {
    width: 100%;
    height: 296px;
}


@media (min-width: 992px) {
    .logo-ipea {
        width: 160px;
    }
    .w-lg-auto {
        width: auto !important;
     }
}